.order-details {
    text-align: left;
}

.order-details p {
    margin-top: 20px;
}

.grand-total {
    font-weight: 600;
}

.cart-clear {
    margin-top: 20px;
    background-color: #ee3a3a;
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 18px;
}