.addedPlayer{
    background-color: #0a184b;
    padding: 10px 10px;
    border-radius: 12px;
    color: white;
    display: flex;
    
}

.added-img{
    width: 32px;
    height: 32px;
    margin-left: 10%;
}